<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ablabs.myorganizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ablabs.myorganizer.Home"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ablabs.myorganizer.NewEntry"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ablabs.myorganizer.Export"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.ablabs.myorganizer.SelectDateTime"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ablabs.myorganizer.AddReminder"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.ablabs.myorganizer.Reminders"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        
        <receiver android:name=".AlarmReciever"/> 
        
        
    </application>

</manifest>